
        <html>
            <head>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
                <style>
                    body{
                        margin:0 100; background:whitesmoke;
                    }
                    .modebar-container{
                        display:none !important;
                    }
                    
                    .modebar .modebar--hover{
                    display:none !important;
                    }
                
                
                </style>
            </head>
            <body>
                
                <iframe width="1000" height="550" frameborder="0" seamless="seamless" scrolling="no"                 src="https://plotly.com/~faizans/42/.embed?width=800&height=550"></iframe><br />
                
                <div >After trading for {{l}} on an initial investment of {{amount}}</div><br>
                <div>The final return Amount is {{last}}</div><br>
                <div>Return on Investment {{roi}}</div
                
            </body>
        </html>
    